* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 5rem;
  display: grid;
  place-content: center;
}

input,
button {
  font: inherit;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background-color:rgb(135, 88, 139);
  border:35px solid rgb(224, 198, 227);
  border-radius: 10px;}

input {
  font-size: 1rem;
  text-align: center;
  margin:0.5em;
  border: 1px solid #ccc;
  border-radius:5px
}
textarea ,select{
  font-size: 1rem;
  margin:0.5em;
  border: 1px solid #ccc;
  border-radius:5px;
  padding:5px;
}

button {
  font-size: 1rem;
  margin: 0.5em;
  min-width: 2em;
  cursor: pointer;
}

button:first-child {
  margin-left: 0;
}